<div style="width:100%; border:1px solid;background-color: silver;">
<h2 style="text-align:center;"> SCAI - Sistema de controle de aluguéis imobiliários </h2>
<p>

<div style="text-align: center;word-spacing: 20px;height: 25px; width:1340px;
background-color: gray; padding:5px;font-size: medium; ">
	<a href="/web.projeto/home.jsp">Home</a>
	<a href="/web.projeto/cadastro.jsp">Cadastro</a>
	<a href="/web.projeto/consulta.jsp">Consulta</a>
	<a href="/web.projeto/financeiro.jsp">Financeiro</a>
	<a href="#">Sair</a>
</div>

</div>